@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --sage: #b2b9a5;
    --white: #fff;
    --black: #222;
    --light-color: #777;
    --red:#e74c3c;
    --border:.2rem solid var(--black);
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--sage);
    color: var(--white);
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--sage);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

section{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-flow: column;
    background-color: var(--black);
    min-height: 20rem;
}

.disabled{
    opacity: .5;
    user-select: none;
    pointer-events: none;
 }
 
 .message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    padding:2rem;
    display: flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    background-color: var(--yellow);
 }
 
 .message span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .message i{
    font-size: 2.5rem;
    color:var(--red);
    cursor: pointer;
 }
 
 .message i:hover{
    color:var(--black);
 }

.heading h3{
    font-size: 5rem;
    color: var(--white);
    text-transform: capitalize;
}

.heading p{
    font-size: 2.3rem;
    color: var(--light-color);
}

.heading p a{
    color: var(--sage);
}

.heading p a:hover{
    text-decoration: underline;
    color: var(--white);
}

.btn,
.delete-btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: .2s linear;
}

.btn{
    background-color: var(--sage);
    color: var(--white);
}

.delete-btn{
    background-color: rgb(212, 64, 64);
    color: var(--white);
}

.btn:hover,
.delete-btn:hover{
    letter-spacing: .2rem;
}

.empty{
    border:var(--border);
    padding:1.5rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    text-transform: capitalize;
    color: red;
 }

 .flex-btn{
    display: flex;
    gap:1rem;
 }

/* section header */
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--sage);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo{
    font-size: 2.9rem;
    color: var(--white);
    font-weight: bold;
}

.header .flex .logo span{
    font-size: 2.6rem;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

.header .flex .navbar a{
    font-size: 2rem;
    color: var(--white);
    margin: 0 1rem;
}

.header .flex .navbar a:hover{
    color: var(--light-color);
}

.header .flex .icons > *{
    margin-left: 1.5rem;
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}

.header .flex .icons > *:hover{
    color: var(--light-color);
}

.header .flex .icons span{
    font-size: 2rem;
}

#menu-btn{
    display: none;
}

.header .flex .profile{
    background-color: var(--light-color);
    padding: 1.5rem;
    text-align: center;
    position: absolute;
    top: 120%; right: 2rem;
    width: 30rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile.active{
    display: inline-block;
}

@keyframes fadeIn {
    0%{
        transform: translateY(1rem);
    }
}

.header .flex .profile .name{
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.header .flex .profile .account{
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--light-color);
}

.header .flex .profile .account a{
    color: var(--white);
}

.header .flex .profile .account a:hover{
    color: var(--sage);
}

/* hero mulai */
.hero .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}

.hero .slide .image {
    flex: 1 1 40rem;
}

.hero .slide .image img {
    width: 100%;
}

.hero .slide .content {
    flex: 1 1 40rem;
    text-align: center;
}

.hero .slide .content span{
    font-size: 3rem;
    color: var(--light-color);
    font-weight: bold;
}

.hero .slide .content h3{
    margin: 1rem 0;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
}

/* hero selesai */

/* service mulai  */
.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.category .box-container .box{
    padding: 2rem;
    text-align: center;
    /* border: .2rem solid;
     */
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.2);
}

.category .box-container .box img{
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

.category .box-container .box h3{
    margin-top: 1.5rem;
    color: var(--black);
    text-transform: capitalize;
}

.category .box-container .box:hover{
    background-color: var(--black);
}

.category .box-container .box:hover img{
    filter: invert(1);
}

.category .box-container .box:hover h3{
    color: var(--white);
}

/* service selesai  */

/* about mulai  */
.about {
    background-color: #f9f9f9;
    padding: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 3rem;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    flex: 1;
    text-align: left;
    padding-right: 30px;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

.about-image {
    flex: 1;
    text-align: right;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}
/* about selesai  */

/* product mulai  */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    justify-content: center;
    align-items: flex-start;
    gap:1.5rem;
 }
 
 .products .box-container .box{
    border:var(--border);
    padding:1.5rem;
    position: relative;
    overflow: hidden;
 }
 
 .products .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 .products .box-container .box .fa-eye,
 .products .box-container .box .fa-shopping-cart{
    position: absolute;
    top:1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.3rem;
    border:var(--border);
    background-color: var(--white);
    cursor: pointer;
    font-size: 2rem;
    color:var(--black);
    transition: .2s linear;
    text-align: center;
 }
 
 .products .box-container .box .fa-eye:hover,
 .products .box-container .box .fa-shopping-cart:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 .products .box-container .box .fa-eye{
    left: -10rem;
 }
 
 .products .box-container .box .fa-shopping-cart{
    right: -10rem;
 }
 
 .products .box-container .box:hover .fa-eye{
    left: 1rem;
 }
 
 .products .box-container .box:hover .fa-shopping-cart{
    right: 1rem;
 }
 
 .products .box-container .box .cat{
    font-size: 1.8rem;
    color:var(--light-color);
 }
 
 .products .box-container .box .cat:hover{
    color:var(--black);
    text-decoration: underline;
 }
 
 .products .box-container .box .name{
    font-size: 2rem;
    color:var(--black);
    margin:1rem 0;
 }
 
 .products .box-container .box .flex{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-top: 1.5rem;
 }
 
 .products .box-container .box .flex .price{
    margin-right: auto;
    font-size: 2rem;
    color:var(--black);
 }
 
 .products .box-container .box .flex .price span{
    color:var(--light-color);
    font-size: 1.8rem;
 }
 
 .products .box-container .box .flex .qty{
    padding:1rem;
    border:var(--border);
    font-size: 1.8rem;
    color:var(--black);
 }
 
 .products .box-container .box .flex .fa-edit{
    width: 5rem;
    background-color: var(--yellow);
    color:var(--black);
    cursor: pointer;
    font-size: 1.8rem;
    height: 4.5rem;
    border:var(--border);
 }
 
 .products .box-container .box .flex .fa-edit:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 .products .box-container .box .fa-times{
    position: absolute;
    top:1rem; right:1rem;
    background-color: var(--red);
    color:var(--white);
    border:var(--border);
    line-height:4rem;
    height: 4.3rem;
    width: 4.5rem;
    cursor: pointer;
    font-size: 2rem;
 }
 
 .products .box-container .box .fa-times:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 .products .box-container .box .sub-total{
    margin-top: 1rem;
    font-size: 1.8rem;
    color:var(--light-color);
 }
 
 .products .box-container .box .sub-total span{
    color:var(--red);
 }
 
 .products .more-btn{
    margin-top: 1rem;
    text-align: center;
 }
 
 .products .cart-total{
    display: flex;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    border:var(--border);
    padding:1rem;
 }
 
 .products .cart-total p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .products .cart-total p span{
    color:var(--red);
 }
 
 .products .cart-total .btn{
    margin-top: 0;
 }


/* product selesai  */

/* search mulai  */
.search-form form{
    display: flex;
    gap: 1.2rem;
}

.search-form form .box{
    width: 100%;
    border: .2rem solid;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}

.search-form form .fa-search{
    width: 6rem;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 2.5rem;
}

.search-form form .fa-search:hover{
    background-color: var(--sage);
    color: var(--white);
}

/* search selesai  */

/* checkout mulai  */
.checkout form{
    max-width: 50rem;
    margin: 0 auto;
    border: .2rem solid;
    padding: 2rem;
}

.checkout form h3{
    font-size: 3rem;
    text-transform: capitalize;
    padding: 2rem 0;
}

.checkout form .cart-items{
    background-color: var(--black);
    padding: 2rem;
    padding-top: 0;
}

.checkout form .cart-items h3{
    color: var(--white);
}

.checkout form .cart-items p{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    margin: 1rem 0;
    line-height: 1.5;
    font-size: 2rem;
}

.checkout form .cart-items p .name{
    color: lightgray;
}

.checkout form .cart-items p .name-total{
    color: var(--black);
}

.checkout form .cart-items p .price{
    color: var(--sage);
}

.checkout form .cart-items .grand-total{
    background-color: var(--white);
    padding: .5rem 1.5rem;
}

.checkout form .cart-items .grand-total .price{
    color: rgb(245, 49, 49);
}

.checkout form .user-info p{
    font-size: 2rem;
    line-height: 1.5;
    padding: 1rem 0;
}

.checkout form .user-info p i{
    color: var(--light-color);
    margin-right: 1rem;
}

.checkout form .user-info p span{
    color: var(--black);
}

.checkout form .user-info .box{
    width: 100%;
    border: .2rem solid;
    padding: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

/* checkout selesai */

/* order mulai  */
.order .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
}

.order .box-container .box{
    padding: 1rem 2rem;
    border: .2rem solid;
    flex: 1 1 40rem;
}

.order .box-container .box p{
    line-height: 1.5;
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--light-color);
}

.order .box-container .box p span{
    color: var(--black);
}
/* order selesai */

/* login mulai */
.form-container form{
    margin: 0 auto;
    border: .2rem solid;
    max-width: 40rem;
    padding: 2rem;
    text-align: center;
}

.form-container form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.form-container form .box{
    margin: .7rem 0;
    width: 100%;
    border: .2rem solid;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}

.form-container form p{
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

.form-container form p a{
    color: var(--sage);
}

.form-container form p a:hover{
    text-decoration: underline;
}


/* login selesai */

/* profile mulai  */
.user-details .user{
    max-width: 50rem;
    margin: 0 auto;
    border: .2rem solid;
    padding: 2rem;
}

.user-details .user img{
    width: 100%;
    height: 20rem;
    object-fit: contain;
}

.user-details .user p{
    padding: 1 rem 0;
    line-height: 1.5;
    font-size: 2rem;
}

.user-details .user p span{
    color: var(--black);
}

.user-details .user p i{
    margin-right: 1rem;
    color: var(--light-color);
}

.user-details .user .address{
    margin-top: 1.5rem;
}

/* profile selesai  */

/* contact mulai  */
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 
 .contact .row .image{
    flex:1 1 40rem;
 }
 
 .contact .row .image img{
    width: 100%;
 }
 
 .contact .row form{
    border:var(--border);
    flex:1 1 40rem;
    padding:2rem;
    text-align: center;
 }
 
 .contact .row form h3{
    font-size: 2.5rem;
    color:var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
 }
 
 .contact .row form .box{
    margin:.7rem 0;
    font-size: 1.8rem;
    color:var(--black);
    border:var(--border);
    padding:1.4rem;
    width: 100%;
 }
 
 .contact .row form textarea{
    height: 15rem;
    resize: none;
 }
 /* contact selesai  */



/* footer section mulai */
.credit {
    padding: 2rem;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
}

.credit span {
    color: var(--sage);
}























/* media queries nya */
@media (max-width:991px) {
    
    html{
        font-size: 55%;

    }
}

@media (max-width:768px) {
    
    #menu-btn{
        display: inline-block;
    }

    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--light-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .hero .slide .content h3{
        font-size: 2.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 1rem;
    }
}

@media (max-width:450px) {
    
    html{
        font-size: 50%;
    }

    .title{
        font-size: 3rem;
    }

    .header .flex .logo{
        font-size: 2rem;
    }

    .hero .slide .content h3{
        font-size: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 1rem;
    }

    .product .box-container{
        grid-template-columns: 1fr;
    }

    .heading h3{

        font-size: 3.5rem;
    }

    .product .cart-total{
        justify-content: center;
    }
    
}